FORMAT: 1A
HOST: http://www.google.com

# MOM
MOM API is a service similar to its physical paper presence on your table.

#Group Systems
System related resources of the **Systems API**

## Systems Collection [/apis/systems?{code}{name}{user}{status}{fromDate}{toDate}{pagination}{offset}]
### List Systems [GET]

+ Parameters
    + code (optional, string, `004`) ... Text `code` of the desired system(s).
    + name (optional, string, `system 1`) ... Text `name` of the desired system(s).
    + user (optional, string, `Mark`) ... Text `create user` of the desired system(s).
    + status (optional, number, `2`) ... Numeric `status` of the desired system(s). Lookup value.
    + fromDate (optional, string, `1-1-2014`) ... Date `from create date` of the desired system(s).
    + toDate (optional, string, `15-10-2014`) ... Date `to create date` of the desired system(s).
    + pagination (optional, integer, `10`) ... Numeric `pagination` of the desired pagination size.
    + offset (optional, integer, `0`) ... Numeric `offset` of the desired offset of the pagination.

+ Response 200 (application/json)

        [
            { "code": "001", 
              "name": "system 1", 
              "user": "Tom", 
              "status": 2, 
              "createDate": "01-09-2014"
            }, 
            { "code": "003",
              "name": "system xyz", 
              "user": "Mark", 
              "status": 1, 
              "createDate": "15-05-2014",
            }
        ]

## Systems Collection [/apis/systems]
### Create a System [POST]
Error codes will be either:</br>
a) Wrong format of Json</br>
b) Name is Required</br>

+ Request (application/json)

        { "name": "adms", 
          "user": "John"
        }
        
+ Response 201 (application/json)

        { "code": "002" 
        }
        
+ Response 400 (application/json)

        [
            { "errorCode": "E1" },
            { "errorCode": "E3" }
        ]

## System [/apis/systems/{code}]
### Update a System [POST]
Error codes will be either:</br>
a) Wrong format of Json</br>
b) Name is Required</br>

+ Request (application/json)

        { "name": "adms", 
          "user": "John",
          "status": 2
        }
        
+ Response 200

        
+ Response 400 (application/json)

        [
            { "errorCode": "E1" },
            { "errorCode": "E3" }
        ]
        
## System [/apis/systems/delete/{code}]
### Remove a System [POST]
+ Response 204

+ Response 400 (application/json)

        { "errorCode": "E3" }
        
        
#Group Groups
Group related resources of the **Groups API**

## Groups Collection [/apis/groups?{code}{name}{user}{systemCode}{fromDate}{toDate}{pagination}{offset}]
### List Groups [GET]

+ Parameters
    + code (optional, string, `004-abc`) ... Text `code` of the desired group(s).
    + name (optional, string, `group 1`) ... Text `name` of the desired group(s).
    + user (optional, string, `Mark`) ... Text `create user` of the desired group(s).
    + systemCode (optional, string, `020`) ... Text `system code` of the desired group(s).
    + fromDate (optional, string, `1-1-2014`) ... Date `from create date` of the desired group(s).
    + toDate (optional, string, `15-10-2014`) ... Date `to create date` of the desired group(s).
    + pagination (optional, integer, `10`) ... Numeric `pagination` of the desired pagination size.
    + offset (optional, integer, `0`) ... Numeric `offset` of the desired offset of the pagination.

+ Response 200 (application/json)

        [
            { "code": "001", 
              "name": "system 1", 
              "user": "Tom", 
              "system": {
                  "status":1,
                  "name":"System 1",
                  "code":"001",
                  "createDate":"Tue Sep 09 15:40:23 EEST 2014",
                  "user":"Tom"}, 
              "createDate": "01-09-2014"
            }, 
            { "code": "003",
              "name": "system xyz", 
              "user": "Mark", 
              "system": {
                "status":1,
                "name":"System 12",
                "code":"021",
                "user":"Mark",
                "createDate":"Tue Sep 09 15:40:23 EEST 2014"}, 
              "createDate": "15-05-2014",
            }
        ]


## Groups Collection [/apis/groups]
### Create a Group [POST]
Error codes will be either:</br>
a) Wrong format of Json</br>
b) Name is Required</br>
c) System Doesnt Exist</br>

+ Request (application/json)

        { "name": "first floor",
          "systemCode": "adms",
          "user": "John"
        }
        
+ Response 201 (application/json)

        { "code": "002" 
        }

+ Response 400 (application/json)

        [
            { "errorCode": "E1" },
            { "errorCode": "E6" }
        ]

## Group [/apis/groups/{code}]
### Update a Group [POST]
Error codes will be either:</br>
a) Wrong format of Json</br>
b) Name is Required</br>

+ Request (application/json)

        { "name": "secondFloorGP", 
          "user": "John"
        }
        
+ Response 200

        
+ Response 400 (application/json)

        [
            { "errorCode": "E1" },
            { "errorCode": "E6" }
        ]
        
        
## Group [/apis/groups/delete/{code}]
### Remove a Group [POST]
+ Response 204

+ Response 400 (application/json)

        { "errorCode": "E6" }
        
        
#Group systemDevice
Group related resources of the **SystemDevices API**

## SystemDevices Collection [/systemDevices?{systemCode}{pagination}{offset}]
### List SystemDevices [GET]

+ Parameters
    + systemCode (optional, string, `004`) ... Text `systemCode` of the desired system(s).
    + pagination (optional, integer, `10`) ... Numeric `pagination` of the desired pagination size.
    + offset (optional, integer, `0`) ... Numeric `offset` of the desired offset of the pagination.

+ Response 200 (application/json)

        [
            { "id": "12364",
              "system":{"status":1,"name":"ADMS","code":"001","createDate":"Tue Sep 09 15:40:23 EEST 2014","user":""} 
              "sn": "12364974565", 
              "user": "Tom", 
              "status": 2, 
              "createDate": "01-09-2014"
            }, 
            { "id": "12365",
              "system":{"status":1,"name":"ADMS","code":"001","createDate":"Tue Sep 09 15:40:23 EEST 2014","user":""}
              "sn": "123665415", 
              "user": "Mark", 
              "status": 1, 
              "createDate": "15-05-2014",
            }
        ]

## SystemDevice [/apis/systemDevices]
### Create a SystemDevice Link [POST]
Error codes will be either:</br>
a) Wrong format of Json</br>
b) Device Serial Number is Required</br>
c) System Doesnt Exist</br>

+ Request (application/json)

        { "sn": "first floor",
          "systemCode": "adms",
          "user": "John"
        }
        
+ Response 201 (application/json)

        { "id": "12362" 
        }

+ Response 400 (application/json)

        [
            { "errorCode": "E7" },
            { "errorCode": "E8" }
        ]

## SystemDevice [/apis/systemDevices/delete/{id}]
### Remove a systemDevices [POST]
+ Response 204

+ Response 400 (application/json)

        { "errorCode": "E9" }
  